@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

#header {
    width: 100vw;
    height: 28.47vw;

    background-color: #FFC2D2;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_time {
    font: italic 300px 'Roboto', Arial, sans-serif; /* 폰트 스타일, 크기 및 폰트 패밀리 설정 */
    color: #FB6F92; /* 텍스트 색상 설정 */
    text-shadow: -2px -2px 0 #00000070, -2px -2px 0 #00000070, 2px -2px 0 #00000070, 2px 0px 0 #00000070;
    margin: 0; /* 마진 설정 */
    height: 300px; /* 높이 설정 */
}

#header_siteName {
    font: bold 100px Arial, sans-serif; /* 폰트 스타일, 크기 및 폰트 패밀리 설정 */
    color: #FFFFFF; /* 텍스트 색상 설정 */
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5); /* 그림자 효과 설정 */
    -webkit-text-stroke: 1px black; /* 텍스트 테두리 설정 (웹킷 기반 브라우저에서 사용) */

    margin: 0vw 0vw;
}
